<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head(title='Login')">
</head>

<body>
	<nav th:replace="layout/layout::nav"></nav>
	<section class="container">
		<div class="login">
			<form action="login" method="post">
				<label for="SignIn" style="font-size: 30px;"><b>MUMScrum
						Log In</b></label>
				<div class="form-group">
					<label for="InputEmail">Email address:</label> <input type="email"
						name="loginEmail" class="form-control" id="loginEmail" th:value="${email}" placeholder="Email" />
				</div>
				<div class="form-group">
					<label for="InputPassword">Password:</label> <input type="password"
						name="loginPwd" class="form-control" id="logPwd" placeholder="Password" />
				</div>
							
				<button type="submit" class="btn btn-default">Login</button>
				<p></p>
				<div class="form-group">
				<span style="color: red;" th:text="${validitity}"></span>
				</div>
				
			</form>
		</div>
	</section>

	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>