<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head(title='Estimate Test Efford')">
</head>
<body>
	<nav th:replace="layout/layout::nav"></nav>
	<section class="container">
		<div>
			<form action="estimateTestEfford" method="post">
				<label for="estimateTest" style="font-size: 30px;"><b>Estimate
						Test Efford</b></label>
				<div>
				<label for="userStory">UserStory:</label> <br/>
				<select name="userStoryId" class="form-control">
					<option th:each="userStory:${allUserStory}"
						th:value="${userStory.id}" th:text="${userStory.title}"></option>
				</select>
				</div>
				<br/>
				<div class="form-group">
					<label for="EstimateHours">Enter Estimate Hours:</label> <input
						type="number" name="estimateHours" class="form-control" id="estimateHours" />
				</div>

				<button type="submit" class="btn btn-default">Save</button>
			</form>
		</div>
	</section>
	<footer th:replace="layout/layout::footer"></footer>
</body>
</html>